* {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  text-decoration: transparent;
}
nav {
  background-color: rgb(10, 75, 75);
}
nav h3 {
  font-weight: 100;
  font-size: 24px;
  color: white;
  padding: 1em;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.auth-form {
  margin: auto;
  width: 50%;
  margin-top: 3em;
  height: auto;
  background: rgb(255, 255, 255);
  border: 1px solid rgb(112, 108, 108);
  box-shadow: 1px 2px 5px 7px #ccc;
}
.auth-links {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
}
.auth-links li {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: rgb(12, 10, 10);
}
.link1 {
  margin-top: 0;
  width: 16em;
  padding: 9px;
  border: transparent;
  background-color: #ccc;
}
.link2 {
  border: transparent;
  margin-top: 0;
  width: 16.2em;
  padding: 9px;
  background-color: #ccc;
}

.signup-form,
.signin-form {
  margin: 2em;
}
.signup-form h2,
.signin-form h2 {
  font-weight: 500;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  text-align: center;
  font-size: 2em;
}
.signup-form h4,
.signin-form h4 {
  font-weight: 300;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  text-align: center;
  padding: 11px;
  line-height: 1.7em;
}
.signup-form input[type='email'],
.signin-form input[type='email'] {
  display: block;
  padding: 1em;
  margin: 1.2em;
  width: 75%;
}
.signup-form input[type='submit'],
.signin-form input[type='submit'] {
  background-color: rgb(91, 91, 223);
  border: none;
  border-radius: 0.3em;
  color: white;
  display: block;
  padding: 1em;
  margin: 1.2em;
  width: 79%;
}
.signup-form input[type='text'],
input[type='password'] {
  padding: 1em;
  margin: 1.2em;
  width: 32%;
}
.signin-form input[type='password'] {
  padding: 1em;
  margin: 1.2em;
  width: 75%;
}
